<h1>Fala meu considerado !</h1>
<p>Data: <%= brazilian_day(Date.today) %></p>
<p>AAAAAAAAAAAAAAAAAAAAIII BECAIME SOU NAMBII</p>

<p> <%= 1+1 %></p>
<%=render "menu" %>
<p>
  You're on <%= rails_env %>
</p>

<p><%= @nome %></p>
<p><%= @curso %></p>