<p>
  <%= link_to "PT BR", root_path(lng: 'pt-BR') %>
</p>

<p>
  <%= link_to "EN ENG", root_path(lng: 'en') %>
</p>

<p>Lang: <%= t('locale') %></p>
<p>Data: <%= l(Date.today) %></p>

<p><%= t('hello') %></p>

<%=render "menu" %>
<p>
  Você está em <%= rails_env %>
</p>
